<h1>Make a New Group</h1>
<% @ids = @filter_group.expression_ids %>
<%= form_for @filter_group do |f| %>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.text_field :name, class: "form-control" , required: true  %>
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <input name="filter_group[filter_series][]" type="hidden" value="" />
    <select id='filter_group_filter_series' multiple='multiple' name="filter_group[filter_series][]">
      <% Filter.all.each do |f| %>
        <% if @ids.present? && @ids[:filter].include?(f.id) %>
          <option value="<%= "Filter_" + f.id.to_s+" " %>"  selected><%= f.name %></option>
        <% else %>
         <option value="<%= "Filter_" + f.id.to_s+" " %>"><%= f.name %></option>
        <% end %> 
      <% end %>
    </select>
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <div class="col-sm-2"></div> 
    <div class="col-sm-8"><%= f.submit class: "btn btn-primary" %></div>
  </div>

<% end %>


<script type="text/javascript">
  $('#filter_group_filter_series').multiSelect({ keepOrder: true });
</script>



