<h1>Make a New Notification</h1>
<%= form_for @notification_template do |f| %>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label :title, class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
      <%= f.text_field :title, class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label :subtitle, class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
      <%= f.text_field :subtitle, class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label :description, class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
      <%= f.text_field :description, class: "form-control" %>
    </div>  
  </div>
  
  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label :useful, class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
      <%= f.select :useful,options_for_select([["YES",1],["NO",0]]), class: "form-control" %>
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label "Rule", class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
    <%= f.select :rule_engine_id,options_for_select(RuleEngine.all.map{|x| [x.name, x.id]}), class: "form-control" %><br />
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label "Category", class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
    <%= f.select :category,options_for_select(NotificationTemplate::CATEGORY), class: "form-control" %><br />
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label "Display Screen", class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
    <%= f.select :display_screen,options_for_select(NotificationTemplate::DISPLAY_SCREEN), class: "form-control" %><br />
    </div>
  </div>
  <%= f.hidden_field :active, value: true %>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label :execution_type, class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
      <%= f.select :execution_type,options_for_select([["Batch","batch"],["Realtime","realtime"]]), class: "form-control" %><br />
    </div>  
  </div>
  <div id="date_group">
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label :start_date, class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
        <%= f.text_field :start_date, class: "form-control",placeholder: "yyyy-mm-dd"  %>
      </div>  
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label :end_date, class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
        <%= f.text_field :end_date, class: "form-control",placeholder: "yyyy-mm-dd"  %>
      </div>  
    </div>
  </div>

  <div id="real_time_group" style="display: none">
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label "triggers", class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
        <%= f.select :trigger,options_for_select(NotificationTemplate::TRIGGERS), class: "form-control" %><br />
      </div>  
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label :elapse_time, class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
        <%= f.text_field :elapse_time, class: "form-control" %>
      </div>  
    </div>
  </div>

  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label :chat_email, class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
      <%= f.text_field :chat_email, class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label :provide_feedback_email, class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
      <%= f.text_field :provide_feedback_email, class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label :learn_more_url, class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
      <%= f.text_field :learn_more_url, class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label :take_the_survey_url, class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
      <%= f.text_field :take_the_survey_url, class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label :anonymous_feedback_url, class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
      <%= f.text_field :anonymous_feedback_url, class: "form-control"  %>
    </div>  
  </div>

  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <%= f.label :cta_key, class: "col-sm-3 control-label" %>
    <div class="col-sm-6 controls">
      <%= f.select :cta_key,options_for_select(NotificationTemplate::CTA.invert.to_a), class: "form-control" %><br />
    </div>  
  </div>
<!-- ############################################       Autofocus Segment ############################ -->

  <div id=autofocus style="display: none">
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label "Autofocus Dashboard", class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
         <%= f.select :dashboard,options_for_select(NotificationTemplate::DASHBOARD), class: "form-control" %>
      </div>
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label "Autofocus Well Being", class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
        <%= f.check_box :well_being %>
      </div>
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label "Autofocus TimePeriod", class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
        <%= f.select :days_from_now,options_for_select(NotificationTemplate::FUTURE_DATE_LIST), class: "form-control" %>
      </div>
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label "Autofocus Categories", class: "col-sm-3 control-label" %>
      <div class="col-sm-4 controls">
        <%= f.select :autofocus_categories,options_for_select(NotificationTemplate::CATEGORY_LIST),{}, {multiple: true, class: "form-control"} %>
      </div>
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label "Autofocus Topics", class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
        <%= f.text_field :topics, class: "form-control",placeholder: "comma seperated values" %>
      </div>
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label "Autofocus Perception Score", class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
         <%= f.text_field :score_data, class: "form-control" %>
      </div>
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label "Autofocus Weather", class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
        <%= f.select :weather,options_for_select(NotificationTemplate::WEATHER_LIST),{}, {multiple: true, class: "form-control"} %>
      </div>  
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label "Autofocus Heart Rate", class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
        <div class="col-sm-3">
          <%= f.label "Min" %>
          <%= f.check_box :heart_rate_min %>
        </div>
        <div class="col-sm-3">
          <%= f.label "Medium" %>
          <%= f.check_box :heart_rate_medium %>
        </div>
        <div class="col-sm-3">  
          <%= f.label "Max" %>
          <%= f.check_box :heart_rate_max %>
        </div>
      </div>
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label "Autofocus temperature", class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
        <div class="col-sm-3">
          <%= f.label "Min" %>
          <%= f.check_box :temperature_min %>
        </div>
        <div class="col-sm-3">
          <%= f.label "Medium" %>
          <%= f.check_box :temperature_medium %>
        </div>
        <div class="col-sm-3">  
          <%= f.label "Max" %>
          <%= f.check_box :temperature_max %>
        </div>
      </div>
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label "Autofocus Steps Walked", class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
        <div class="col-sm-3">
          <%= f.label "Min" %>
          <%= f.check_box :steps_walked_min %>
        </div>
        <div class="col-sm-3">
          <%= f.label "Medium" %>
          <%= f.check_box :steps_walked_medium %>
        </div>
        <div class="col-sm-3">  
          <%= f.label "Max" %>
          <%= f.check_box :steps_walked_max %>
        </div>
      </div>
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label "Autofocus Calories Burnt", class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
        <div class="col-sm-3">
          <%= f.label "Min" %>
          <%= f.check_box :calories_min %>
        </div>
        <div class="col-sm-3">
          <%= f.label "Medium" %>
          <%= f.check_box :calories_medium %>
        </div>
        <div class="col-sm-3">  
          <%= f.label "Max" %>
          <%= f.check_box :calories_max %>
        </div>
      </div>
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
      <%= f.label "Autofocus Sleep Hours", class: "col-sm-3 control-label" %>
      <div class="col-sm-6 controls">
        <div class="col-sm-3">
          <%= f.label "Min" %>
          <%= f.check_box :sleep_time_min %>
        </div>
        <div class="col-sm-3">
          <%= f.label "Medium" %>
          <%= f.check_box :sleep_time_medium %>
        </div>
        <div class="col-sm-3">  
          <%= f.label "Max" %>
          <%= f.check_box :sleep_time_max %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-12">
    <div class="col-sm-3"></div>
    <div class="col-sm-6"><%= f.submit class: "btn btn-primary" %></div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
     $('#notification_template_autofocus_categories').multiSelect({ keepOrder: true });
     $('#notification_template_weather').multiSelect({ keepOrder: true });

    $('#notification_template_execution_type').on('change', function() {
      if ( this.value == 'batch')
        {
          $("#date_group").show();
          $("#real_time_group").hide();
        }
      else if (this.value == 'realtime')
        {
          $("#real_time_group").show();
          $("#date_group").hide();
        }
      })
    $('#notification_template_cta_key').on('change', function() {
      if ( this.value == 'autofocus')
        {
          $("#autofocus").show();
        }
      else
        {
          $("#autofocus").hide();
        }
      })
    });

</script>