<h1>Make a New Notification</h1>
<%= form_for @notification_template do |f| %>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.text_field :title, class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label :subtitle, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.text_field :subtitle, class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.text_field :description, class: "form-control" %>
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label :merge_field, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.text_field :merge_field, class: "form-control" %>
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label :cta_key, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.select :cta_key,options_for_select(NotificationTemplate::CTA.invert.to_a), class: "form-control" %><br />
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label :useful, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.select :useful,options_for_select([["YES",1],["NO",0]]), class: "form-control" %>
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label "Rule", class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
    <%= f.select :rule_engine_id,options_for_select(RuleEngine.all.map{|x| [x.name, x.id]}), class: "form-control" %><br />
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label "Category", class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
    <%= f.select :category,options_for_select(NotificationTemplate::CATEGORY), class: "form-control" %><br />
    </div>  
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label "Display Screen", class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
    <%= f.select :display_screen,options_for_select(NotificationTemplate::DISPLAY_SCREEN), class: "form-control" %><br />
    </div>
  </div>
  <%= f.hidden_field :active, value: true %>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label :execution_type, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.select :execution_type,options_for_select([["Batch","batch"],["Realtime","realtime"]]), class: "form-control" %><br />
    </div>  
  </div>
  <div id="date_group">
    <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
      <%= f.label :start_date, class: "col-sm-2 control-label" %>
      <div class="col-sm-8 controls">
        <%= f.text_field :start_date, class: "form-control",placeholder: "yyyy-mm-dd"  %>
      </div>  
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
      <%= f.label :end_date, class: "col-sm-2 control-label" %>
      <div class="col-sm-8 controls">
        <%= f.text_field :end_date, class: "form-control",placeholder: "yyyy-mm-dd"  %>
      </div>  
    </div>
  </div>  
  <div id="real_time_group">
    <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
      <%= f.label :condition_met, class: "col-sm-2 control-label" %>
      <div class="col-sm-8 controls">
        <%= f.text_field :condition_met,options_for_select(NotificationTemplate::CONDITION), class: "form-control" %><br />
      </div>  
    </div>
    <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
      <%= f.label :time_elapse, class: "col-sm-2 control-label" %>
      <div class="col-sm-8 controls">
        <%= f.text_field :time_elapse, class: "form-control",placeholder: "yyyy-mm-dd"  %>
      </div>  
    </div>
  </div>  
    <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
      <div class="col-sm-2"></div>
      <div class="col-sm-8"><%= f.submit class: "btn btn-primary" %></div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#notification_template_execution_type').on('change', function() {
      if ( this.value == 'batch')
        {
          $("#date_group").show();
          $("#real_time_group").hide()
        }
      else if (this.value == 'realtime')
        {
          $("#real_time_group").show()
          $("#date_group").hide();
        }
      })
    });

</script>