<h1></h1>
<h2>Name :  <%= @notification.title.try(:titleize) %> </h2> 
<!-- <h2>Expression : <%#=@filter_group.readable_expression %></h2> -->
<%= users = @notification.get_scope_users %>
<% if users.is_a?(Hash) %>
    <h3>Total_users : <%= users[:user_ids].flatten.size %></h3>
  <% else %>
    <h3>Total_users :  <%= users.count%></h3>
  <% end %>


<h4>Execution Type : <%= @notification.execution_type %></h4>

<h4>Display Screen : <%= @notification.display_screen %></h4></br>

<% if @notification.category == "activity" %>
  <% image_path = "activity-1x.png" %>
<% elsif @notification.category == "behaviour" %>
  <% image_path = "behaviour-1x.png" %>
<% else  %>
  <% image_path = "user-1x.png" %>
<% end %>
<div class="col-md-6 notification_box">
  <b><%=@notification.title %></b></br></br>
  <%= image_tag image_path %> <%=@notification.subtitle %> | <%= Date.today %> | <%= Time.now.strftime("%I:%M %p") %> </br></br>
  <%= @notification.description %></br></br>
  <span class="btn btn-sytle" ><%=@notification.cta %></span></br></br>
  <% if @notification.useful? %>
    <span>was this useful? &nbsp;&nbsp;&nbsp; <b>YES&nbsp;&nbsp;</b>|<b>&nbsp;&nbsp;NO</b></span>
  <% end %>
</div><br><br>

<div></div>

<div class="col-md-8 padder ">
  <div class="col-md-4">
  <% if @notification.execution_type == "batch" %>
    <%= link_to "Blast Send Now", blast_send_notification_templates_path({id: @notification}), class: "btn btn-primary" %>
  <% end %>
  </div>
  <div class="col-md-4">
    <% if @notification.active? %>
      <%= link_to "Deactivate", deactivate_notification_templates_path({id: @notification}),method: :patch, class: "btn btn-danger" %>
    <% else %>
      <%= link_to "Activate", activate_notification_templates_path({id: @notification}),method: :patch, class: "btn btn-success" %>
    <% end %>
    </div>
</div>

<style type="text/css">
  .notification_box {
    color:#424242;
    -webkit-box-shadow: 6px 13px 45px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 13px 45px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 13px 45px -1px rgba(0,0,0,0.75);
    padding:30px;
    border-radius: 10px;
  }
  .btn-sytle
  {
    background-color:#767676; color:#fff;padding-right: 20px;padding-left: 20px;
  }
  .padder{
    padding-top: 50px;
    padding-left: 100px;
  }
  .red {
    color: red;
  }
</style>