<h1>Add New Filter</h1>
<%= form_for(@filter) do |f| %>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.text_field :name, class: "form-control", required: true  %>
    </div>
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label :family, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.select :family,options_for_select(Filter::FAMILY), class: "form-control"%><br />
    </div>
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.label :segment, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.select :segment,options_for_select(Filter::SEGMENT), class: "form-control"%>
    </div>
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10" id ="filter_operator_id">
    <%= f.label :operator, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.select :operator,options_for_select(Filter::RELATION_OPERATOR), class: "form-control" %><br />
    </div>
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10" id ="filter_list_type_id">
    <%= f.label :list_type, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.select :list_type,options_for_select(Filter::LIST_KEYS.invert.to_a),{id: 'filter_list_type', class: "form-control"}%>
    </div>
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10" id="filter_condition_id" >
    <%= f.label :condition, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.select :condition, options_for_select(Filter::RELATION_OPERATOR), { id: 'filter_condition', class: "form-control" } %><br />
    </div> 
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10" id="free_text_field" style="display:none;">
    <%= f.label :free_text, class: "col-sm-2 control-label" %>
    <div class="col-sm-8 controls">
      <%= f.text_field :free_text, class: "form-control" %><br />
    </div>
  </div>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-10">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
  return $(document).on('change', '#filter_list_type', function(evt) {
    return $.ajax({
      url: '/filters/get_list',
      type: 'GET',
      dataType: 'script',
      data: {
        list_type: $("#filter_list_type option:selected").val()
      },
      error: function(jqXHR, textStatus, errorThrown) {
        return console.log("AJAX Error: " + textStatus);
      },
      success: function(data, textStatus, jqXHR) {
        return console.log("Dynamic List select OK!");
      }
    });
  });
});
$(function() {
  return $(document).on('change', '#filter_segment', function(evt) {
    var list_val = $("#filter_segment option:selected").val()
    switch (list_val) {
    case "categories":
        list_type = "category_list";
        break;
    case "downloaded_the_app":
        list_type = "numeric_operator_list";
        break;
    case "feeling_score":
        list_type = "feeling_score_list";
        break;
    case "average_feeling_score":
        list_type = "feeling_score_list";
        break; 
    case"impact_score":
        list_type = "impact_score_list";
        break;
    case"average_impact_score":
        list_type = "impact_score_list";
        break;
    case "well_being_score":
        list_type = "well_being_score_list";
        break;
    case "average_well_being_score":
        list_type = "well_being_score_list";
        break;
    case "weather_condition":
        list_type = "weather_condition_list";
        break;
    case "about_to_expire":
        list_type = "future_date_list";
        break;
    case "subscribed_alteast_once" :
        list_type = "purchase_list";
        break;
    case "active_subscription":
        list_type = "purchase_list";
        break;
    case "havent_subscribed":
        list_type = "purchase_list";
        break;
    default: 
        list_type = "recency_list";
        break;
}
    console.log(list_type)
    return $.ajax({
      url: '/filters/get_collective_list',
      type: 'GET',
      dataType: 'script',
      data: {
        list_type: list_type //$("#filter_list_type option:selected").val()
      },
      error: function(jqXHR, textStatus, errorThrown) {
        return console.log("AJAX Error: " + textStatus);
      },
      success: function(data, textStatus, jqXHR) {
        return console.log("Dynamic collective_list select OK!");
      }
    });
  });
});

$(document).ready(function(){
    $('#filter_segment').on('change', function() {
      if ( this.value == 'downloaded_the_app' ||
          this.value == 'upgraded_the_app' ||
          this.value == 'last_note_created' ||
          this.value == 'feeling_score' ||
          this.value == 'impact_score' ||
          this.value == 'average_feeling_score' ||
          this.value == 'average_impact_score' ||
          this.value == 'average_well_being_score' ||
          this.value == 'well_being_score' ||
          this.value == 'expired_subscription')
        {
          $("#free_text_field").hide();
          $("#filter_list_type_id").show();
          $("#filter_condition_id").show();
          $("#filter_operator_id").show();
        }
      else if (this.value == 'subscribed_alteast_once' ||
              this.value == 'active_subscription' ||
              this.value == 'havent_subscribed')
        {
          $("#free_text_field").hide();
          $("#filter_list_type_id").show();
          $("#filter_condition_id").show();
          $("#filter_operator_id").hide();
        }
      else if ( this.value == 'total_notes' || this.value == 'steps')
        {
          $("#free_text_field").show();
          $("#filter_list_type_id").hide();
          $("#filter_condition_id").hide();
        }
      else if ( this.value == 'weather_condition' || this.value == 'categories' ||
          this.value == 'about_to_expire')
      {
        $("#free_text_field").hide();
        $("#filter_operator_id").hide();
        $("#filter_list_type_id").show();
        $("#filter_condition_id").show();
      }
    });
});

</script>