<h1>Rules</h1>
<ol class="breadcrumb">
  <li class="false"><a class="pjax" href="/admin/">Dashboard</a></li>
  <li class="active">Rules</li>
</ol>
<ul class="nav nav-tabs">
  <li title="" rel="" class="icon index_collection_link active">
    <a class="pjax" href="/admin/device">
      <i class="icon-th-list"></i>
      <span>List</span>
    </a>
  </li>
  <li title="" rel="" class="icon new_collection_link ">
    <%= link_to ("<i class='icon-plus'></i> Add New").html_safe, new_rule_engine_path %>
  </li>
</ul>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="header pjax  user_field belongs_to_association_type" data-href="/admin/device?sort=user" rel="tooltip" title="" data-original-title="">Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @rules.present? %>
      <% @rules.each do |rule| %>
        <tr class="device_row">
          <td class="vendor_id_field string_type" ><%= link_to rule.name, rule_engine_path(rule) %></td>
          <td class="vendor_id_field string_type" ><%= link_to "Edit", edit_rule_engine_path(rule), class: "btn btn-primary" %></td>
          <td class="vendor_id_field string_type" ><%= link_to "Duplicate", duplicate_me_rule_engine_path(rule), method: :post, class: "btn btn-warning" %></td>
          <td class="vendor_id_field string_type" ><%= link_to "Delete", rule_engine_path(rule),{method: :delete, class: "btn btn-danger"} %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
