<h1>Make a New Rule</h1>
<%= form_for @rule do |f| %>
  <div class="form-group control-group belongs_to_association_type user_field col-sm-8">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-6 controls">
      <%= f.text_field :name, class: "form-control",required: true  %>
    </div>  
  </div>
  <div id="filter_1" style="display: none">
    <div class="form-group control-group belongs_to_association_type user_field col-sm-8">
      <%= f.label :filter_one, class: "col-sm-2 control-label" %>
      <div class="col-sm-6 controls">
        <%= f.select :filter_one,options_for_select([["",""]]+Filter.all.map{|x| [x.name,"Filter_" + x.id.to_s]}), class: "form-control" %><br />
      </div>  
    </div>
  </div>

  <div id="operator_1" style="display: none">
    <div class="form-group control-group belongs_to_association_type user_field col-sm-8">
      <%= f.label "Operator", class: "col-sm-2 control-label" %>
      <div class="col-sm-6 controls">
        <%= f.select :conditional_operator_one,options_for_select([[""],[" OR "],[" AND "]]), class: "form-control" %>
      </div>  
    </div>
  </div>

  <div id="group_1" style="display: none">
    <div class="form-group control-group belongs_to_association_type user_field col-sm-8">
      <%= f.label :group_one, class: "col-sm-2 control-label" %>
      <div class="col-sm-6 controls">
        <%= f.select :group_one,options_for_select([["",""]]+FilterGroup.all.map{|x| [x.name,"Group_" + x.id.to_s]}), class: "form-control" %><br />
      </div>  
    </div>
  </div>

  <div id="operator_2" style="display: none">
    <div class="form-group control-group belongs_to_association_type user_field col-sm-8">
      <%= f.label "Operator", class: "col-sm-2 control-label" %>
      <div class="col-sm-6 controls">
        <%= f.select :conditional_operator_two,options_for_select([[""],[" OR "],[" AND "]]), class: "form-control" %>
      </div>  
    </div>
  </div>

  <div id="group_2" style="display: none">
    <div class="form-group control-group belongs_to_association_type user_field col-sm-8">
      <%= f.label :group_two, class: "col-sm-2 control-label" %>
      <div class="col-sm-6 controls">
      <%= f.select :group_two,options_for_select([["",""]]+FilterGroup.all.map{|x| [x.name,"Group_" + x.id.to_s]}), class: "form-control" %><br />
      </div>  
    </div>
  </div> 
  <div class="form-group control-group belongs_to_association_type user_field col-sm-8">
    <div class="col-sm-2"></div> 
    <div class="col-sm-8"><%= f.submit class: "btn btn-primary" %></div>
  </div>
<% end %>

<button id="add_filter_single" >Add Filter</button>
<button id="add_filter_1"style="display: none">Add Filter</button>
<button id="add_group_1" style="display: none">Add Group</button>
<button id="add_group_single">Add Group</button>
<button id="reset"  style="display: none">Reset</button>


<script type="text/javascript">
  $(document).ready(function(){
      
      $("#reset").click(function(){
          $("#filter_1").hide();
          $("#add_filter_single").show();
          $("#add_group_single").show();
          $("#group_1").hide();
          $("#reset").hide();
          $("#add_group_1").hide();
          $("#operator_2").hide();
          $("#group_2").hide();
      });
      $("#add_filter_single").click(function(){
          $("#filter_1").show();
          $("#add_filter_1").hide();
          $("#add_filter_single").hide();
          $("#add_group_single").hide();
          $("#add_group_1").show();
          $("#reset").show();
      });
      $("#add_group_single").click(function(){
          $("#group_1").show();
          $("#add_group_single").hide();
          $("#add_filter_single").hide();
          $("#add_filter_1").hide();
          $("#add_group_1").show();
          $("#reset").show();
      })
      $("#add_group_1").click(function(){
          $("#operator_2").show();
          $("#group_2").show();
          $("#add_group_single").hide();
          $("#add_group_1").hide();
          $("#reset").show();
          $("#add_filter_1").hide();
          $("#add_filter_single").hide();
      });

      
  });
</script>